<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.egoncharovsky.wordstart">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--todo research usesCleartextTraffic for 19 api version-->
    <application
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat.Light">
        <activity
                android:name=".ui.cards.CardsDictionaryActivity"
                android:label="@string/cards_dictionary"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.TranslateActivity"
                  android:label="@string/translator"
                  android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>